.avatar {
	height: 40px;
	width: 40px;
	background-size: cover;
	border-radius: 20px;
	transform: scale(1);
	transition: transform 1s ease-in;
	object-fit: cover;
	object-position: center;
}

.avatar:hover {
	filter: grayscale(50%);
	transform: scale(1.06);
	transition: transform 1s ease-in-out;
}
.review-body-bg{
	background-color: #EEEEEE;
}

.mapPicture {
	height: 100px;
	width: 100px;
	border-radius: 20px;
	background-size: cover;
}