<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="needs-validation" enctype="multipart/form-data"
                        novalidate>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="firstname" name="user[firstname]"
                                placeholder="FirstName" required>
                            <label for="floatingInput" class="form-label fs-6">First Name</label>
                            <div class="valid-feedback">looks good</div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="lastname" name="user[lastname]"
                                placeholder="Lastname" required>
                            <label for="floatingInput" class="form-label fs-6">Last Name</label>
                            <div class="valid-feedback">looks good</div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="email" id="email" name="user[email]" placeholder="Email"
                                required>
                            <label for="floatingInput" class="form-label fs-6">Email</label>
                            <div class="valid-feedback">looks good</div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="password" id="password" name="user[password]"
                                placeholder="Password" required>
                            <label for="floatingInput" class="form-label fs-6">Password</label>
                            <div class="valid-feedback">looks good</div>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="date" id="dateOfBirth" name="user[dateOfBirth]"
                                placeholder="Date of Birth" required>
                            <label for="floatingInput" class="form-label fs-6">Date of Birth</label>
                            <div class="valid-feedback">looks good</div>
                        </div>

                        <select class="form-select mb-3" id="validationCustom04" name="user[gender]" required>
                            <option selected disabled value="">Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>

                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="image" name="image" multiple required>
                            <label class="input-group-text" for="image">Upload</label>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-long btn-outline-success">Register</button>
                        </div>
                        <div class="mb-3">
                            <a href="/Login">Or Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <form action="/register" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="firstname" name="user[firstname]"
                placeholder="FirstName" required>
            <label for="floatingInput" class="form-label fs-6">FirstName</label>
            <div class="valid-feedback">looks good</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" id="lastname" name="user[lastname]" placeholder="Lastname"
                required>
            <label for="floatingInput" class="form-label fs-6">Lastname</label>
            <div class="valid-feedback">looks good</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="email" id="email" name="user[email]" placeholder="Email" required>
            <label for="floatingInput" class="form-label fs-6">Email</label>
            <div class="valid-feedback">looks good</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="password" id="password" name="user[password]" placeholder="Password"
                required>
            <label for="floatingInput" class="form-label fs-6">Password</label>
            <div class="valid-feedback">looks good</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="date" id="dateOfBirth" name="user[dateOfBirth]"
                placeholder="Date of Birth" required>
            <label for="floatingInput" class="form-label fs-6">Date of Birth</label>
            <div class="valid-feedback">looks good</div>
        </div>

        <select class="form-select mb-3" id="validationCustom04" name="user[gender]" required>
            <option selected disabled value="">Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

        <div class="invalid-feedback">
            Please select a valid state.
        </div>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="image" name="image" multiple required>
            <label class="input-group-text" for="image">Upload</label>
        </div>

        <div class="mb-3">
            <button class="btn btn-long btn-outline-success">Register</button>
        </div>
        <div class="mb-3">
            <a href="/Login">Or Register</a>
        </div>
    </form> -->